.et_pb_button {
    padding: 1em !important;
    background-color: #f78d1f;
    box-shadow: 0 12px 51px rgba(0, 0, 0, .21);
    background-image: linear-gradient(-157deg, #f68915, #e06c16);
    
    &:hover {
        padding: 1em !important;
    }
}
//contact form button
.et_contact_bottom_container button {
    color: #fff !important;
}