input {
    &[type="submit"] {
        margin-top: 10px;
        color: #fff;
        background: #fb8523;
        border-radius: 5px;
        text-align: center;
        border: none;
        padding: 5px;
        font-weight: 700;
        text-transform: uppercase;
        
        &:hover {
         background: #f78d1f;
        }
    }
}
//right sidebar
#sidebar {
    .woocommerce-product-search {
        input {
            width: 100%;
            padding: 5px 2px;
        }
    }
    .product-categories {
        .current-cat.cat-parent > a {
            font-weight: 700;
        }
    }
}